@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  background: #fffbf5;
  /* font-family: 'source-han-sans', sans-serif !important; */
}

#app {
  min-height: 100vh;
}
